@media only screen and (min-width: 601px) {
  .notify {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .notify .list {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 1rem 1rem;
    border-bottom: 1px solid #aaa;
  }

  .notify #active {
    background: #ddd;
  }
}

@media only screen and (max-width: 600px) {
  .notify {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .notify .list {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 1rem 1rem;
    border-bottom: 1px solid #aaa;
  }

  .notify #active {
    background: #eee;
  }
}
