@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;800&family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: transparent;
}

a,
button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px hidden;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.65em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.35em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

pre {
  font-size: 1em;
}

body {
  background: #fff;
  color: #111;
}

.shdw {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#images.active {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
pre,
label {
  margin: 5px auto;
}

@media only screen and (min-width: 601px) {
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 16px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 250px;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background: #004;
  }

  pre {
    margin: 10px auto;
    white-space: pre-wrap;
  }

  p {
    margin: 15px auto;
  }

  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .container {
    width: 70%;
    height: auto;
    display: block;
    overflow: hidden;
    margin: auto;
  }

  .navbar {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    background: #fff;
    clear: both;
    border-bottom: 2px solid #eee;
  }

  .navbar .logo {
    width: 115px;
    height: auto;
    display: block;
    overflow: hidden;
    float: left;
    margin: 10px 10px;
  }

  .navbar .tabs {
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    float: right;
    margin: 10px 10px;
  }

  .navbar button {
    width: auto;
    height: auto;
    background: transparent;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
  }

  .navbar .logo img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .navbar .tabs button {
    display: inline-block;
    margin: auto 1.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1em;
  }

  .navbar .tabs button i {
    margin-right: 10px;
  }

  .navbar .tabs button:hover {
    font-weight: 500;
  }

  .navbar .tabs button:hover {
    color: #004;
  }

  .navbar .tabs button.menu {
    display: none;
  }

  #sidenav {
    display: none;
  }

  .main-page {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2.5rem;
    overflow: hidden;
  }

  .banner {
    width: 100%;
    height: 385px;
    display: block;
    overflow: hidden;
    background: #111;
    padding: 0;
    border-bottom: 2px solid #eee;
    margin-top: 3.6rem;
  }

  .banner img {
    width: 100%;
    height: auto;
    display: none;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
  }

  .headline {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #111;
    clear: both;
  }

  .headline h4,
  .headline h5 {
    display: inline-block;
  }

  .headline .btn {
    float: right;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 8px 40px;
    font-weight: 500;
    background: #111;
    border: 1px solid #111;
  }

  .headline .btn:hover {
    background: #004;
  }

  .headline input[type="text"] {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 10px auto;
    background: #fff;
    color: #111;
    border: 1px solid #111;
    border-radius: 30px;
  }

  .form {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .form .field {
    display: inline-block;
    overflow: hidden;
    width: 50%;
    height: auto;
    padding: 1rem;
  }

  .form .field-half,
  .form .controls {
    display: block;
    overflow: hidden;
  }

  .form .field input[type="text"],
  .form .field input[type="number"],
  .form .field input[type="date"],
  .form .field input[type="password"],
  .form .field input[type="datetime-local"],
  .form .field input[type="file"],
  .form .field textarea,
  .form .field select,
  .form .field-half select {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 10px auto;
    background: #fff;
    color: #111;
    border: 1px solid #111;
    border-radius: 10px;
  }

  .form .controls {
    text-align: right;
    padding: 1rem 1rem;
  }

  .form .controls button {
    display: inline-block;
    margin: 1rem auto;
    margin-left: 1rem;
    padding: 10px 35px;
    border: 1px hidden;
    border-radius: 10px;
    background: #111;
    color: #fff;
  }

  .form .controls button:hover {
    background: #004;
    color: #fff;
  }

  .event {
    width: 30%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #111;
    margin: 10px 10px;
    border-radius: 15px;
  }

  .event img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    display: block;
  }

  .event .caption {
    width: 90%;
    height: auto;
    overflow: hidden;
    display: block;
  }

  .event .caption h4,
  .event .caption h6,
  .event .caption p,
  .event .caption label {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 12px auto;
  }

  .event .btn {
    display: inline-block;
    margin: 1rem auto;
    padding: 10px 35px;
    border: 1px hidden;
    border-radius: 10px;
    background: #111;
    color: #fff;
    text-decoration: none;
  }

  .event .btn:hover {
    background: #004;
  }

  .event .btn:nth-child(even) {
    margin-right: 5px;
  }

  .event .btn:nth-child(odd) {
    margin-left: 5px;
  }

  .party p,
  .party pre {
    margin: 5px auto;
  }

  .party .left {
    width: 35%;
    height: auto;
    display: block;
    overflow: hidden;
    float: left;
    border-right: 1px solid #111;
    padding: 15px;
  }

  .party .right {
    width: 55%;
    height: auto;
    display: block;
    overflow: hidden;
    float: right;
  }

  .party .left img {
    width: 80%;
    height: auto;
    display: inline-block;
    overflow: hidden;
  }

  .party .right .field {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .recom .scrollList {
    width: 100%;
    height: auto;
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .recom .scrollList img {
    width: 18%;
    height: 16rem;
    display: inline-block;
    overflow: hidden;
    margin: auto 10px;
    vertical-align: top;
    border-radius: 15px;
  }

  .partner .thumbs img {
    width: 15%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin: 10px 10px;
  }

  .partner .thumbs {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .icons button {
    width: 25%;
    height: auto;
    display: inline-block;
    overflow: hidden;
  }

  .icons button i,
  .icons button label {
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    margin: 5px auto;
  }

  .icons button i {
    font-size: 20pt;
  }

  .icons button span {
    width: 60px;
    height: auto;
    overflow: hidden;
    display: inline-block;
    background: #eee;
    padding: 10px 15px;
    border-radius: 15px;
  }

  .icons {
    display: none;
  }

  .footer {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    background: #111;
    text-align: center;
  }

  .footer a {
    width: 5%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin: auto 1rem;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
  }

  .footer a img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .footer p {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 18%;
    width: auto;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 0.5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: rgba(0, 0, 0, 0.8);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background: #004;
  }

  pre {
    margin: 10px auto;
    white-space: pre-wrap;
    font-size: 0.9em;
  }

  p {
    margin: 15px auto;
  }

  .section {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .container {
    width: 90%;
    height: auto;
    display: block;
    overflow: hidden;
    margin: auto;
  }

  .navbar {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    background: #fff;
    clear: both;
    border-bottom: 2px solid #eee;
  }

  .navbar .logo {
    width: 115px;
    height: auto;
    display: block;
    overflow: hidden;
    float: left;
    margin: 10px auto;
  }

  .navbar .tabs {
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    float: right;
    margin: 10px 10px;
  }

  .navbar button {
    width: auto;
    height: auto;
    background: transparent;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    font-weight: 500;
  }

  .navbar .logo img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .navbar .tabs button {
    margin: auto 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1em;
    display: none;
  }

  .navbar .tabs button.menu {
    display: inline-block;
  }

  .navbar .tabs button:hover {
    color: #004;
  }

  #sidenav.active {
    display: block;
  }

  .sidenav-wrapper,
  .sidenav-wrapper .plain {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }

  .sidenav {
    width: 60%;
    height: 100vh;
    display: block;
    overflow: hidden;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .sidenav .header {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 1rem 1rem;
    border-bottom: 1px solid #111;
    font-weight: 500;
    text-align: right;
    background: #111;
    color: #fff;
  }

  .sidenav button {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 1rem 1rem;
    border-bottom: 1px solid #111;
    font-weight: 500;
    text-align: right;
  }

  .sidenav button:hover {
    background: #eee;
  }

  .sidenav i {
    margin-left: 15px;
  }

  #sidenav {
    display: none;
  }

  .main-page {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2.5rem;
    overflow: hidden;
  }

  .banner {
    width: 100%;
    min-height: 160px;
    height: auto;
    display: block;
    overflow: hidden;
    margin-top: 3.6rem;
    background: #111;
    padding: 0;
    border-bottom: 1px solid #eee;
  }

  .banner img {
    width: 100%;
    height: 160px;
    display: none;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
  }

  .headline {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #111;
    clear: both;
  }

  .headline h4 {
    display: inline-block;
    vertical-align: middle;
  }

  .headline button {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }

  .headline .btn {
    float: right;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 8px 40px;
    font-weight: 500;
    background: #111;
    border: 1px solid #111;
  }

  .headline .btn:hover {
    background: #004;
  }

  .headline input[type="text"] {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 10px auto;
    background: #fff;
    color: #111;
    border: 1px solid #111;
    border-radius: 30px;
  }

  .form {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .form .field {
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  .form .field-half,
  .form .controls {
    display: block;
    overflow: hidden;
  }

  .form .field input[type="text"],
  .form .field input[type="number"],
  .form .field input[type="date"],
  .form .field input[type="file"],
  .form .field input[type="password"],
  .form .field input[type="datetime-local"],
  .form .field textarea,
  .form .field select,
  .form .field-half select {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 10px auto;
    background: #fff;
    color: #111;
    border: 1px solid #111;
    border-radius: 10px;
  }

  .form .controls {
    text-align: center;
  }

  .form .controls button {
    width: 44%;
    display: inline-block;
    margin: 10px 10px;
    padding: 15px 15px;
    border: 1px hidden;
    border-radius: 10px;
    background: #111;
    color: #fff;
  }

  .form .controls button:hover {
    background: #004;
    color: #fff;
  }

  .event {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border: 1px solid #111;
    border-radius: 15px;
  }

  .event img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .event .caption {
    width: 90%;
    height: auto;
    overflow: hidden;
    display: block;
  }

  .event .caption h6,
  .event .caption h5,
  .event .caption p,
  .event .caption label {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 12px auto;
  }

  .event .btn {
    display: inline-block;
    margin: 1rem auto;
    padding: 15px 35px;
    border: 1px hidden;
    border-radius: 10px;
    background: #111;
    color: #fff;
    text-decoration: none;
    width: 100%;
  }

  .event .btn:hover {
    background: #004;
  }

  .event .btn:nth-child(even) {
    margin-right: 5px;
  }

  .event .btn:nth-child(odd) {
    margin-left: 5px;
  }

  .party .left {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border: 1px solid #111;
    border-radius: 15px;
    padding: 2rem 1rem;
  }

  .party p,
  .party pre {
    margin: 5px auto;
  }

  .party .left img {
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
  }

  .party .right .field {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .recom .scrollList {
    width: 100%;
    height: auto;
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .recom .scrollList img {
    width: 33%;
    height: 11em;
    display: inline-block;
    overflow: hidden;
    margin: auto 5px;
    vertical-align: top;
    border-radius: 10px;
    border: 1px solid #eee;
  }

  .partner .thumbs img {
    width: 30%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin: 5px 5px;
  }

  .partner .thumbs {
    width: 100%;
    height: auto;
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .icons button {
    width: 25%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    text-transform: capitalize;
  }

  .icons button i,
  .icons button label {
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    margin: 5px auto;
  }

  .icons button i {
    font-size: 20pt;
  }

  .icons button span {
    width: 60px;
    height: auto;
    overflow: hidden;
    display: inline-block;
    background: #eee;
    padding: 10px 15px;
    border-radius: 15px;
  }

  .footer {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .footer a {
    width: 10%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin: auto 1rem;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
  }

  .footer a img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .footer p {
    color: #fff;
  }
}
