* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a,
button,
img {
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  .login {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .login .banner {
    width: 57%;
    height: 100vh;
    overflow: hidden;
    border-right: 1px solid #000;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .login .banner img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    object-position: center;
    object-fit: contain;
    margin: 10px auto;
  }

  .login .form {
    width: 40%;
    height: 100vh;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    padding: 15px 45px;
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
  }

  .login .form img {
    width: 30%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }

  .login .form h1 {
    font-size: 18pt;
    text-transform: capitalize;
    margin: 2rem auto;
  }

  .login .form label,
  .login .form button,
  .login .form a,
  .login .form select,
  .login .form input {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    margin: 15px auto;
    border-radius: 30px;
  }

  .login .form input,
  .login .form select {
    padding: 10px 15px;
    border: 1px solid #000;
  }

  .login .form button,
  .login .form a {
    margin: 1.5rem auto;
    padding: 15px 15px;
    background: blue;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 11pt;
  }

  .login .form a {
    background: #111;
  }
}

@media only screen and (max-width: 600px) {
  .login {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .login .banner {
    display: none;
  }

  .login .form {
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    padding: 15px 20px;
  }

  .login .form img {
    width: 150px;
    height: auto;
    display: block;
    margin: 2rem 0;
  }

  .login .form h1 {
    font-size: 21.8pt;
    text-transform: capitalize;
    margin: 3rem auto;
  }

  .login .form label,
  .login .form button,
  .login .form a,
  .login .form select,
  .login .form input {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    margin: 15px auto;
    border-radius: 30px;
  }

  .login .form input,
  .login .form select {
    padding: 10px 15px;
    border: 1px solid #000;
  }

  .login .form button,
  .login .form a {
    margin: 1.5rem auto;
    padding: 15px 15px;
    background: blue;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 11pt;
  }

  .login .form a {
    background: #111;
  }
}
